.chat-main
  .group-info
    .group-info__details
      .details__group-name
        test
      .details__group-member
        kida kosuke
    .group-info__edit-btn-flame
      .edit-btn
        %a{ href: "" }
        EDIT
  .message-list
  .message-form