.chat-main
  .group-info
    .details
      .details__group-name
        test
      .details__group-member
        Member:kida kosuke
    .group-info__edit
      .edit-btn
        = link_to  "" do
          EDIT

  .message-list
    .message-block-first
      .info
        .info__name
          masa
        .info__data
          2020/07/05
      .message-block-first__content
        good morning!
    .message-block
      .info
        .info__name
          kosuke
        .info__data
          2020/07/04
      .message-block__content
        hello!
        
  .message-form
    %form.form
      .form__content
        %input.form__content__text{type:  "text", placeholder: "type a message"}
        %label.form__content__img
          = icon('far', 'image')
          %input.img-file{type: "file"}
      %input.form__send{type: "submit", value: "Send"}