.message-block{data: {message: {id: message.id}}}
  .info
    .info__name
      = message.user.name
    .info__data
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-block__contents
    - if message.text.present?
      %p.message-block__contents__content
      = message.text
    = image_tag message.image.url,class: "message-block__contents__image" if message.image.present?